*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    overflow-x: hidden;
}

body{
    background-color: #F9F5E7;
    overflow-x: hidden;
}

p{
    font-size: 12px;
    text-align: center;
    margin: 10px 15px 10px 15px;
}

/* === LogIn === */

.logo{
    width: 70%;
    margin: 40px;
}

/* === Tabs === */

.login-tab{
    font-size: 16px;
    margin-right: 15px;
    padding-bottom:5px;
    margin: 0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}

/* botones */

.generic-btn{
    width: 90%;
    padding: 8px;
    margin: 5px 5%;

    outline-style: none;
    border: none;

    background-color: #7FCD0D;
    border-radius: 3px;

    color: white;
    font-weight: 700;
    font-size: 12px;
}

.generic-btn:hover{
    background-color: #49A010;
}

.generic-btn:active{
    background-color: #49A010;
}

/* Inputs */

input{
    width: 85%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 10%;

    background: #FFFFFF;
    border: 1px #DBDBDB;
    border-radius: 3px;
}

::placeholder{
    color: #bfbfbf;
    padding-left: 8px;
}

@media (max-width:320px){

.logIn main{
    display: flex;
    flex-direction: column;
}

}

