*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    overflow-x: hidden;
}

/* body{
    background-color: #F9F5E7;
    overflow-x: hidden;
    
} */

p{
    font-size: 12px;
    text-align: center;
    margin: 10px 15px 10px 15px;
}

/* === LogIn === */

 .logo{
    width: 30%;
    margin: 40px;
} 

.banner{
    width: 100%;
    
}

/* === Tabs === */

.login-tab{
    
    font-size: 16px;
    margin-right: 15px;
    padding-bottom:5px;
    margin: 0 15px 10px 0;
    /*display:inline-block;*/
    /*border-bottom:2px solid transparent;*/
    
    border: none;
    background: none;
   
}

.login-tab:active{
    border-bottom: 2px solid #7FCD0D;
}

.btn-nav{
    background: none;
    border: 2px solid #996600;
    border-radius: 3px;
    color: #996600;
    font-weight: bold;
    /* margin: 60px 20px; */
    width: 15%;
    
}
#topNavSign{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

/* botones */

.generic-btn{
    width: 90%;
    padding: 8px;
    margin: 5px 5%;

    outline-style: none;
    border: none;

    background-color: #7FCD0D;
    border-radius: 3px;

    color: white;
    font-weight: 700;
    font-size: 12px;
}

.generic-btn:hover{
    background-color: #49A010;
}

.generic-btn:active{
    background-color: #49A010;
}

.link-bold{

    color: #AA6600;
    font-weight: bold;
    font-size: 12px;
}

#logInFooter{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
/* Inputs */

input{
    width: 85%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 10%;

    background: #FFFFFF;
    border: 1px #DBDBDB;
    border-radius: 3px;
}

::placeholder{
    color: #bfbfbf;
    padding-left: 8px;
}
/*Párrafos sendingEmail.js*/
#font-22{
    font-size: 22px;
}
#font-14{
    font-size: 14px;
    font-weight: bold;
}
.signup-logo img{
    width: 50%;

}
/* === Home === */
header{

    height: 120px;
    align-content: right;
    
}

header .logo{
    height: 70%;
    margin: 15px 5px 0px 20px; 
}


.container {
    position: relative;
    width: 100%;
  }
  .container img {
    width: 100%;
    height: auto;
  }
  .container .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    color: #7FCD0D;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 30%; 
    height: 35px;
  }
  
  .container .btn:hover {
    background-color: #996600;
    color: #FFFFFF;
  }  

  .container .banner-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 15px;


  }

  .container #banner-title{

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
  }

  .info-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .info-desktop img{
      width: 15%;
      
  }
  
  .info-desktop #info-title{
    font-weight: bold;
  }
  .info-desktop p{

    width: 45%;
  }

  footer{
      background-color: #7FCD0D;
      display: block;
      
  }

  footer p{
    color: #FFFFFF;
  }

@media (max-width:320px){

.logIn main{
    display: flex;
    flex-direction: column;
}

}

