*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    overflow-x: hidden;
}

body{
    background-color: #F9F5E7;
    overflow-x: hidden;
}

p{
    font-size: 12px;
    text-align: center;
    margin: 10px 15px 10px 15px;
}

/* === LogIn === */

.logo{
    width: 30%;
    margin: 40px;
}

.banner{
    width: 100%;
    
}

/* === Tabs === */

.login-tab{
    
    font-size: 16px;
    margin-right: 15px;
    padding-bottom:5px;
    margin: 0 15px 10px 0;
    /*display:inline-block;*/
    /*border-bottom:2px solid transparent;*/
    
    border: none;
    background: none;
   
}

.login-tab:active{
    border-bottom: 2px solid #7FCD0D;
}

.btn-nav{
    background: none;
    border: 2px solid #996600;
    border-radius: 3px;
    color: #996600;
    font-weight: bold;
    margin: 60px 20px;
    width: 15%;
}
#topNavSign{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
#topNavHome{
    display: flex;
    background-color: #FFFFFF;
    }
/* botones */

.generic-btn{
    width: 90%;
    padding: 8px;
    margin: 5px 5%;

    outline-style: none;
    border: none;

    background-color: #7FCD0D;
    border-radius: 3px;

    color: white;
    font-weight: 700;
    font-size: 12px;
}

.generic-btn:hover{
    background-color: #49A010;
}

.generic-btn:active{
    background-color: #49A010;
}

.link-bold{

    color: #AA6600;
    font-weight: bold;
    font-size: 12px;
}

#logInFooter{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
/* Inputs */

input{
    width: 85%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 10%;

    background: #FFFFFF;
    border: 1px #DBDBDB;
    border-radius: 3px;
}

::placeholder{
    color: #bfbfbf;
    padding-left: 8px;
}
/*Párrafos sendingEmail.js*/
#font-22{
    font-size: 22px;
}
#font-14{
    font-size: 14px;
    font-weight: bold;
}

@media (max-width:320px){

.logIn main{
    display: flex;
    flex-direction: column;
}

}

